.subtitle {
  composes: typeXSmall from global;
  composes: typeRegular from global;
  color: gray;
}

.times {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.divider {
  height: 50px;
}

.list {
  margin-bottom: 20px;
}
