@import url('antd/dist/antd.css');

:global(.ant-layout-header) {
  padding: 0 10px;
  z-index: 99;
}

:global(.ant-layout-content) {
  background-color: white;
}

:global(.ant-avatar) {
  box-shadow: 0 2px 8px #f0f1f2;
}

:global(.typeRegular) {
  font-weight: 400;
}

:global(.typeMedium) {
  font-weight: 500;
}

:global(.typeBold) {
  font-weight: 600;
}

:global(.typeXSmall) {
  font-size: 14px;
  line-height: 22px;
}

:global(.typeSmall) {
  font-size: 16px;
  line-height: 24px;
}

:global(.typeMedium) {
  font-size: 20px;
  line-height: 28px;
}

:global(.typeLarge) {
  font-size: 24px;
  line-height: 32px;
}

:global(.typeXLarge) {
  font-size: 30px;
  line-height: 38px;
}

@keyframes :global(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
