.titles {
  display: flex;
  flex-direction: column;
  padding: 0 1px;
}

.title {
  composes: typeSmall from global;
}

.createRecipe {
  padding: 20px;
}

.input {
  margin: 5px 0;
  border: none;
}

.input input {
  border: none;
}

.description {
  composes: typeXSmall from global;
}

.times {
  margin: 20px 0;
}

.dynamicList {
  margin-top: 20px;
}

.save {
  margin-top: 40px;
}
