.page {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-rows: 30% auto 30%;
  grid-template-areas:
    '. . .'
    '. login .'
    '. . .';
}

.card {
  grid-area: login;
}

.error {
  color: #f5222d;
}

.loginForm {
  max-width: 300px;
}

.loginFormForgot {
  float: right;
}

.loginFormButton {
  width: 100%;
}
