.page {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-areas: '. component .';
}

.card {
  margin: 10px;
}

.card :global {
  animation: fadeIn 0.2s ease-in-out;
}

.authComponent {
  grid-area: component;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .page {
    grid-template-columns: none;
    grid-template-areas: none;
  }
}
