.page :global {
  height: 100%;

  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-areas: '. component .';

  animation: fadeIn 200ms ease-in-out;
}

.card {
  margin: 10px;
}

.card :global {
  animation: fadeIn 200ms ease-in-out;
}

.authComponent {
  grid-area: component;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .page {
    grid-template-columns: none;
    grid-template-areas: none;
  }
}
