.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: transparent;
  box-shadow: 0 1px 4px gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: scale(0.5);
}

.selected {
  background-color: #1890ff;
}
