.chefCard {
  display: flex;
  padding-left: 10px;
}

.avatar {
  margin-right: 20px;
  min-height: 80px;
  min-width: 80px;
}

.chefInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  composes: typeNormal from global;
  composes: typeBold from global;
}
