.avatar {
  margin-right: 20px;
}

.chefCard {
  display: flex;
}

.chefInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  composes: typeMedium from global;
  composes: typeBold from global;
}
