.page {
  padding: 20px;
  height: 100%;
}

.profileChef {
  margin-bottom: 20px;
}

.profileRecipe {
  margin-bottom: 10px;
}

.empty {
  margin-top: 20px;
}

.forkIcon {
  font-size: 60px;
  margin-top: 20px;
  opacity: 0.5;
}
