.names {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 95%;
}

.firstName {
  composes: name;
  margin-right: 5px;
}

.lastName {
  composes: name;
  margin-left: 5px;
}

.register {
  width: 100%;
  margin-top: 10px;
}

.error :global {
  color: #f5222d;
  animation: fadeIn 0.2s ease-in-out;
}
